<ul class="list-group">

    <li [routerLink]="'countries/by-country'"
    routerLinkActive="active"
    class=" list-group-item list-group-item-action">
    By Country
    </li>

    <li [routerLink]="'countries/by-capital'"
    routerLinkActive="active"
    class=" list-group-item list-group-item-action">
    By Capital
    </li>

    <li [routerLink]="'countries/by-region'"
    routerLinkActive="active"
    class="list-group-item list-group-item-action col-md-6 col-lg-4">
    By Region
</li>






</ul>
