<h2>By Capital</h2>
<hr>

<div class="row">
    <div class="col">
      <!-- (onValue)="searchByCapital($event)" -->
        <shared-search-box
            [initialValue]="initialValueInput"
            (onDebounce)="searchByCapital($event)"
            placeHolder="Search By Capital..">
        </shared-search-box>
    </div>
</div>

<div class="ro">
    <div class="col">
        <hr>
            <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
            <countries-table [countries]="countriesList"></countries-table>
    </div>
</div>
